#about{
	padding-top:30px;
	padding-bottom: 40px;
	overflow: hidden;
	background: #3C3B3F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 0% 100%);
}

.col{
	width:80%;
	max-width: 1020px;
	margin: 0 auto;
	text-align: center;
}

.c-white{
	padding: 75px 10px 60px;
	color: #3C3B3F;
}

.r-gray{
	background: #3C3B3F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	clip-path: polygon(0% 0%, 100% 6%, 100% 94%, 0% 100%);
	padding: 85px 10px 50px;
	color: #D4AF37;
}

.text-center{
	text-align: center;
}

img{
	width: 70%;
	height: 80%;
	opacity: 1;
}

img:hover {
	opacity:0.3;
}

.portfolio-pic {
	position:relative;
	width:200px;
	height:200px;
	border-radius: 50%;
	box-shadow: 0 1px 1px 1px gray;
}

body{
	background: #fff;
	color: #D4AF37;
	font-family: 'open sans', sans-serif;
	font-weight: 400;
}

a {
	color: #D4AF37;
}

.pname{
	padding: 30px auto;
}
